.places__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  font-style: normal;
  margin: 26px 0 0 0;
}

.places__paragraph:nth-of-type(1) {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .places__paragraph { 
    font-size: 16px;
    line-height: 26.08px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .places__paragraph { 
    margin: 25px 16px 0 16px;
  }
}