.page__container {
  color: white;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  border: 1px red solid;
}

@media screen and (max-width: 1279px) {
  .page__container { 
    min-height: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .page__container { 
    min-height: 768px;
  }
}
@media screen and (max-width: 767px) {
  .page__container { 
    min-height: 320px;
  }
}