.places__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "places__title places__website"
  "places__image places__article";
  gap: 48px 40px; 
  margin-top: 80px;
}

.places__item:nth-of-type(1) {
  margin-top: 0;
}