.places__item {
  margin-top: 80px;
}

.places__item:nth-of-type(1) {
  margin-top: 0;
}

@media screen and (max-width: 1279px) {
  .places__item {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .places__item {
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__item {
    margin-top: 50px;
    min-width: 320px;
  }

  .places__item:nth-of-type(1) {
    margin-top: 64px;
  }
}